.form-heading {
  text-align: center;
  margin-top: 3rem;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  background-color: rgb(245, 176, 176);
  margin-bottom: 2rem;
  box-shadow: 1px 1px 10px 0 gray;
  border-radius: 5px;
}

.inner-container input,
button {
  padding: 0.7rem;
  margin: 0.8rem;
  border-radius: 5px;
  outline: none;
  border: none;
}
.inner-container button {
  background-color: lightblue;
  color: white;
  margin-bottom: 1rem;
}
