.home-wrapper {
  display: flex;
  justify-content: flex-start;
  /* background-color: rgb(197, 245, 245); */
  flex-direction: column;
  align-items: center;
}
.home-wrapper .home-img {
  margin-top: 3rem;
  margin-right: 3rem;

  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.home-wrapper .home-img img {
  width: 100%;
  background-size: cover;
}
.home-container {
  margin-top: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  display: flex;
  width: 40%;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 500px; */
}

.home-container p {
  width: 100%;
  height: auto;
  background-color: rgb(253, 199, 231);

  opacity: 0.6;
  border-radius: 10px;
  text-align: justify;
  padding: 34px;
  justify-self: center;
  color: rgb(15, 15, 15);
}
