.row {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  /* background-color: rgb(203, 230, 211); */
}

.column4 {
  display: flex;

  justify-content: space-evenly;
  min-height: 100px;
  min-width: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.column8 {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
}
.column6 {
  display: flex;
  justify-content: center;
  min-height: 100px;
  margin-bottom: 2rem;
}
