.ro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgb(203, 230, 211);
}

.colmn4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  min-height: 100px;
  min-width: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
