.travel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(20, 19, 19);
  background-image: linear-gradient(
      rgba(223, 132, 132, 0.6),
      rgba(229, 243, 225, 0.2),
      rgba(80, 2, 225, 0.2)
    ),
    url('./img/rajj.jpg');
}
.travel-container p {
  width: 70%;
}
